*~
#*
*.ilk
*.obj
*.o
*.so
*.pdb
.vs
.qmake.stash
TAGS
/media
/brahman.be
vmem
build-android-arm-debug
build-android-arm-release
build-android-x86-debug
build-android-x86-release
*.pro.user
*.pro.user.*
brahman.log
/Makefile
app/brahman_plugin_import.cpp
app/brahman_qml_plugin_import.cpp
app/Info.plist
app/qt.conf
app/Brahman.xcodeproj/Default-568h@2x.png
app/Brahman.xcodeproj/LaunchScreen.xib
app/Brahman.xcodeproj/project.pbxproj
app/Brahman.xcodeproj/qt_makeqmake.mak
app/Brahman.xcodeproj/qt_preprocess.mak
app/Brahman.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
app/Brahman.xcodeproj/xcshareddata/xcschemes/Brahman.xcscheme
app/liste
app/test.sh
appimagetool.AppImage
buildfix.sh
app/.directory
app/linux-ai/AppRun.c_broken.c
app/linux-ai/gilist.txt
app/linux-ai/liblist.txt
app/linux-ai/linbuild.sh
app/linux-ai/plglist.txt
mscrolls/src/tools/as68/as68
mscrolls/src/tools/fred23jr/fred23jr
mscrolls/src/tools/lnk/lnk
makedefs
fred23jr
mscrolls/src/tools/bin/as68
mscrolls/src/tools/bin/lf
mscrolls/src/tools/bin/lnk
mscrolls/src/tools/bin/mcaout
mscrolls/src/tools/lnk/lf
mscrolls/src/tools/lnk/mcaout
prog
mkt
clean
setenv.sh
tools/apng/qapng/mkspecs/modules/qt_plugin_libqapng_debug.pri
tools/apng/qapng/mkspecs/modules/qt_plugin_qapng.pri
tools/apng/qapng/mkspecs/modules-inst/qt_plugin_libqapng_debug.pri
tools/apng/qapng/mkspecs/modules-inst/qt_plugin_qapng.pri
tools/apng/qapng/plugins/imageformats/libqapng.dylib
tools/apng/qapng/plugins/imageformats/libqapng_debug.dylib
tools/apng/qapng/plugins/imageformats/libqapng.dylib.dSYM/Contents/Info.plist
tools/apng/qapng/plugins/imageformats/libqapng.dylib.dSYM/Contents/Resources/DWARF/libqapng.dylib
tools/apng/qapng/plugins/imageformats/libqapng_debug.dylib.dSYM/Contents/Info.plist
tools/apng/qapng/plugins/imageformats/libqapng_debug.dylib.dSYM/Contents/Resources/DWARF/libqapng_debug.dylib
Qt5Gui_ApngImagePlugin.cmake
mbtest.sh
tools/libz/ios-dev/Makefile
tools/libz/ios-dev/release/libz.a
api/api.pro.linux
tools/apng/libpng_apng/libpng/libpng.pro.linux
tools/zlib/libz.pro.linux
ifi/release/libifigame.1.0.0.dylib
ifi/release/libifigame.1.0.dylib
ifi/release/libifigame.1.dylib
ifi/release/libifigame.dylib
ifi/release/Makefile
ifi/ios-dev/release/Makefile
ifi/ios-dev/release/release/libifigame.1.0.0.dylib
ifi/ios-dev/release/release/libifigame.1.0.dylib
ifi/ios-dev/release/release/libifigame.1.dylib
ifi/ios-dev/release/release/libifigame.dylib
app/build-ios/game.h
ifi/build-ios/Makefile
ifi/build-ios/release/libifigame.1.0.0.dylib
ifi/build-ios/release/libifigame.1.0.dylib
ifi/build-ios/release/libifigame.1.dylib
ifi/build-ios/release/libifigame.dylib
tools/libz/build-ios/Makefile
tools/libz/build-ios/release/libz.a
ifi/Makefile
