*.rc
Makefile
Makefile.*
*.log
save
*.Debug
*.Release
.build
.gradle
.idea
*.keystore
*.iml
gradlew.bat
/android/gradle
/android/gradlew
*.wixpdb
*.msi
*.wixobj
release.wxs
ios-sim
ios-dev
